* {
    box-sizing: border-box;
}

.wholeScoreboard {
    background-color: #5c1cb0;
    font-family: sans-serif;
    max-width: 700px;
}

.VitalPollBar {
    display: flex;
}

.VitalPollBar div {
    background-color: #360275;
    color: whitesmoke;
    font-weight: bold;
    margin: 4px;
    padding: 5px;
    font-size: 12px;
    border-radius: 9px;
}

.JoinBox {
    display: flex;
    background-color: #5c1cb0;
    font-family: sans-serif;
}

.JoinBox label {
    background-color: #f1f1f1;
    margin: 6px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
}

.JoinBox button {
    background-color: #f1f1f1;
    margin: 6px;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    width: 70px;
}

.MultiChoice {
    display: flex;
    flex-direction: column;
    background-color: #33004d;
    font-family: sans-serif;
    align-items: center;
    max-width: 700px;
}

.MultiChoice div {
    background-color: #600080;
    margin: 6px;
    padding: 5px;
    font-size: 20px;
    color: wheat;
    border-radius: 10px;
    width: 90%;
}

.MultiChoice button {
    margin: 6px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

.MultiChoice label {
    display: inline-flex;
    align-items: center;
    background-color: #600080;
    margin: 6px;
    padding: 5px;
    font-size: 20px;
    color: wheat;
    border-radius: 10px;
    width: 90%;
}

input:checked ~ label {
    background-color: wheat;
    font-weight: bold;
    color: #600080;
}

.MultiChoice header {
    text-align: center;
    margin: 6px;
    padding: 5px;
    font-size: 25px;
    color: wheat;
    align-self: center;
    min-width: 400px;
    max-width: 800px;
}

.MultiChoice p {
    color: wheat;
    align-self: center;
}

.gridContainer {
}

.gridParent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3px;
    height: 100px;
}

.gridDiv {
    background-color: #f1f1f1;
    margin: 2px;
    padding: 2px;
    font-size: 15px;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
}

.gridDivLabel {
    font-size: 10px;
}

.gridDivValue {
    font-size: 22px;
}

.gridDivLabel1Line {
}

.gridDivValue1Line {
}
